main {
    border: 1px solid black;
    margin-top: 200px;
   
}

#card{
    border: 1px solid black;
}

#dash {
    margin-top: 0px;
}

#titledash {
    font-size: 30px;
}

#card {
    border: 1px solid black;
}

.icon svg {
    font-size: 2em;
    margin-left: -50px;
}
